<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="container-fluid">
  <div class="form-group col-xs-11">
    <input id="url" type="text" class="form-control col-xs-11" placeholder="ENTER URL here">
  </div>
  <button id="send-url" class="btn btn-default col-xs-1">Submit</button>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="/js/textures.min.js"></script>
<script src="/js/dashboard.js"></script>

