<!DOCTYPE html>
<html>
  <head>
    <title>Social Counter</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading {
        margin-bottom: 30px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>

  </head>
  <body>

    <div class="container">

      <form class="form-signin" role="form" action="/login" method="post">
        <h1 class="form-signin-heading text-center">Social Counter</h1>
        <input type="text" name="username" placeholder="Usuario" class="form-control">
        <input type="password" name="password" placeholder="Contraseña" class="form-control">
        <input type="submit" value="Ingresar" class="btn btn-lg btn-primary btn-block"/>  
      </form>

    </div>

  </body>
</html>